
<form method="post" action="/searches">
  <div id="outer">
      <div id="search">
        <input id="submit" name="user_id" src="tomato.png" type="image" value=<%=current_user["id"]%> />
      </div>
  </div>
</form>
